/*
  This theme is based on Ariake Dark for Visual Studio Code
  https://marketplace.visualstudio.com/items?itemName=wart.ariake-dark
*/

.basic-dark-theme {
  --white: #bdc4f4;
  --bright-white: #d0d7f4;
  --bright-green: #23d299;
  --bright-pink: #df86f6;
  --yellow: #ffc107;

  --theme-header-bg: #25272f;
  --theme-header-title: var(--white);

  --theme-sidebar-bg: #1c1f26;
  --theme-sidebar-selection: #31374a;
  --theme-editor-bg: #2a2d37;
  --theme-code-margin-bg: #303442;

  --theme-editor-cursor: var(--bright-white);
  --theme-editor-code-main: var(--white);
  --theme-editor-selection-focused: rgba(44, 110, 208, 0.35);
  --theme-editor-selection: rgba(44, 110, 208, 0.25);
  --theme-editor-code-class: var(--bright-green);
  --theme-editor-code-resource: var(--bright-pink);
  --theme-editor-code-comments: #636776;
  --theme-editor-code-import: #e8c64a;
  --theme-editor-code-strings: #b7d461;
  --theme-editor-code-block: #3f4454;
  --theme-editor-line-numbers: #57669b;

  --theme-panels-border: #444c67;

  --theme-deployment-result: var(--yellow);
  --theme-deployed-resources: var(--bright-pink);
}

// Resize icon for resources block
.resize-icon, .css-19ulhrs{
  color: black !important;
}

.main{
  overflow: hidden;
}

.css-k3zxhn{
  overflow: auto !important;
}

.css-1esbhrg > div:nth-child(3){
  overflow: auto !important;
}

.with-theme {
  .main-grid {
    background: var(--theme-header-bg);
  }

  .header {
    background: var(--theme-header-bg);
  }

  .header-icon {
    color: var(--white);
    cursor: pointer;
    &:hover {
      background-color: var(--theme-code-margin-bg);
    }
  }

  .header-title {
    color: var(--theme-header-title);
  }

  .sidebar {
    background: var(--theme-sidebar-bg);
    & .css-14xc9o {
      color: var(--bright-green);
      background-color: var(--theme-sidebar-selection);
      & input {
        background-color: var(--theme-sidebar-selection);
        color: var(--bright-green);
      }
    }

    & .css-1iue16b {
      color: #6a728e;
      background-color: var(--theme-editor-bg);
      & input {
        color: #6a728e;
      }
    }
  }

  .css-1iue16b {
    cursor: pointer;
    &:hover {
      background-color: var(--theme-code-margin-bg);
    }
  }

  .css-3wfqfb:before {
    display: none;
  }

  .main {
    background: var(--theme-editor-bg);
  }

  // Resource log - right block
  .css-jjiyx5 > div > div > div:nth-child(3), {
    background-color: var(--theme-code-margin-bg) !important;
  }

  /* Main code*/
  .mtk1 {
    color: var(--theme-editor-code-main);
  }

  /* Code parts classes*/
  .mtk6 {
    color: var(--theme-editor-code-class);
  }

  /* Comments */
  .mtk8 {
    color: var(--theme-editor-code-comments);
  }

  /* Import location*/
  .mtk16 {
    color: var(--theme-editor-code-import);
  }

  /* Strings*/
  .mtk20 {
    color: var(--theme-editor-code-strings);
  }

  /* Resource/Type Name*/
  .mtk22 {
    color: var(--theme-editor-code-resource);
  }

  .monaco-editor {
    .line-numbers {
      color: var(--theme-editor-line-numbers);
    }

    .margin {
      background-color: var(--theme-code-margin-bg);
    }

    .lines-content {
      background-color: var(--theme-editor-bg);
      & .cigr {
        box-shadow: inset 1px 0 0 var(--theme-editor-code-block);
      }

      & .cigra {
        box-shadow: inset 1px 0 0 var(--theme-editor-code-class);
      }
    }

    .scroll-decoration {
      box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.25);
    }

    .codicon-chevron-right,
    .codicon-chevron-down {
      color: var(--theme-editor-line-numbers);
    }

    .view-overlays .current-line {
      border: none;
      background-color: #31374a;
    }

    .focused .selected-text {
      background-color: var(--theme-editor-selection-focused);
    }

    .selected-text {
      background-color: var(--theme-editor-selection);
    }

    .cursor {
      background-color: var(--theme-editor-cursor);
      border-color: var(--theme-editor-cursor);
      color: var(--theme-sidebar-bg);
    }
  }

  .css-fj0s33 {
    color: #6a728e;
    background-color: var(--theme-editor-bg);
  }
  .css-fj0s33 {
    color: #6a728e;
  }
  .css-fj0s33 {
    cursor: pointer;
  }
  .css-fj0s33:hover {
    background-color: var(--theme-code-margin-bg);
  }

  .css-1i9h1r, .css-1i9h1r:hover {
    background-color: var(--theme-sidebar-selection);
    color: var(--bright-green);
  }

  .css-jjiyx5 pre,
  .css-t2kxtv,
  .css-5zo0ir::before,
  .css-xt6qbs::before,
  .css-30uyui::before {
    color: var(--theme-deployment-result);
  }

  .css-1ogaoz:hover {
    background-color: var(--theme-code-margin-bg);
  }

  .css-1ogaoz:hover {
    background-color: var(--theme-code-margin-bg);
  }

  /* Deployed result */
  .css-g2pw1o,
  .css-jjiyx5
  {
    color: var(--theme-deployment-result);
    background-color: var(--theme-header-bg) !important;
    fill: var(--theme-header-bg) !important;
  }

  /* Deployed resources */
  .css-1otvrdq {
    color: var(--theme-deployed-resources);
    background-color: var(--theme-header-bg) !important;
    border-color: var(--theme-panels-border) !important;
  }

  .css-h90thf,
  .css-169vnk6 {
    border-color: var(--theme-header-bg) !important;
  }

  .css-169vnk6 > div:nth-child(1),
  .resources-log {
    border-right: 1px solid var(--theme-header-bg) !important;
  }

  .css-169vnk6 > div:nth-child(2),
  .right-log {
    background-color: var(--theme-editor-bg) !important;
    color: var(--white);
  }

  .css-1tmkgm0.detached {
    background-color: #31374a;
    border-color: #4a4747;
  }

  .css-t2kxtv + .css-t2kxtv {
    border-color: #636a82;
  }

  .css-jyir2x {
    background-color: var(--theme-sidebar-selection);
    color: var(--theme-header-title);
    &:hover {
      background-color: var(--theme-sidebar-selection);
      color: var(--white);
    }
  }

  .css-1yd75pz{
    background-color: #3e4354;
    border-color: #4e556b;
  }

  /* Signers block*/
  .css-173vat8{
    background-color: #616986;
  }
  .css-i54jnx{
    color: #2a2d37
  }

  .css-173vat8,
  .css-i54jnx{
    padding: 2px 4px;
    bottom: -5px;
  }

  .resize-icon, .css-19ulhrs{
    color: var(--bright-green) !important;
  }

  /*Log contaienrs borders*/

  .css-1esbhrg,
  .css-g2pw1o,
  .css-jjiyx5 > div > div{
    border-color: var(--theme-panels-border) !important;
  }

  /* Plus icons next to transactions*/
  .css-1q4y6wv{
    color: #575c6d;
  }

  .css-3wfqfb{
    color: var(--white);
  }
}

/* Switch styles */
.switch-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  .with-theme & {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.switch-control {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #3a3c46;
  padding: 0 2px;
  border-radius: 24px;
  width: 48px;
  height: 24px;
  margin-right: 5px;
  position: relative;
}

.switch-dot {
  width: 20px;
  height: 20px;
  background-color: #bdc4f4;
  border-radius: 20px;
  transition: all 0.15s ease-in-out;
  transform: translateX(0);
  &--active {
    background-color: #00ff76;
    transform: translateX(24px);
  }
}

.switch-label {
  color: #222;
  font-family: Overpass, sans-serif;
  &--active {
    color: #00ff76;
  }
}

/* Fix CSS Grid*/
.css-yzrjcg.main-grid {
  grid-template-columns: auto 1fr !important;
  grid-template-rows: 72px 1fr !important;
}

/* Log containers */

.css-169vnk6.code-log-container {
  display: grid;
  grid-template-columns: 30% 70%;
  max-height: 200px;
}

.right-log {
  overflow: auto;
}

.resources-log,
.right-log {
  width: 100% !important;
}

.detached{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 600px;
  height: 600px !important;
  max-height: none !important;
  z-index: 10;
  background-color: #fffffe;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 10px;
  overflow: auto !important;
  & > div{
    font-size: 14px
  }
}

.css-1ugz9jq strong:before{
  color: inherit;
}

// Allow to display 2 tabs side-by-side on smaller screens
.css-5d7ghp{
  display: block !important;
}

.sidebar{
  width: 288px;
  resize: horizontal;
  overflow: auto !important;
}

.css-160z17c + .css-160z17c:before{
  border-top: 1px solid rgba(150,150,150,0.5) !important;
}

.monaco-scrollable-element.editor-scrollable{
  width: calc(100% - 60px) !important;
}

.overflow-guard{
  width: 100% !important;
}

.monaco-editor.vs{
  width: 100% !important;
}

// resources block on account
// hide scrollbar
.css-1otvrdq div:nth-child(2){
  overflow: auto !important;
}

// Hide tutorial button on small screens
@media only screen and (max-width: 1080px) {
  .css-1ogaoz {
    display:none !important;
  }
}


